%form
  %fieldset
    .form-group
      %input.form-control{:autofocus => "", :name => "email", :placeholder => "#{t(:email)}", :type => "email"}/
    .form-group
      %input.form-control{:name => "password", :placeholder => "#{t(:password)}", :type => "password", :value => ""}/
    .checkbox
      %label
        %input{:name => "remember", :type => "checkbox", :value => "#{t(:remember_me)}"}>/
        = t(:remember_me)
    %a.btn.btn-lg.btn-success.btn-block{:href => "index.html"}= t(:log_in_button)
