!!!
%html{data: {"ng-app"=>true}}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= full_title(yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #global-wrapper
      = render "shared/navbar"
      #content-wrapper
        = render "shared/sidebar"
        #page-content
          /= render "shared/alert_messages"
          = yield
